.logo_kea {
    width: 350px;
}

/* Navigation */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4e5a;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

}

ul.topnav li {
    float: left;
}



ul.topnav li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;

    border-left: 1px;
    border-right: 1px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;

    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul.topnav li a:hover:not(.active) {
    background-color: #F4BED8;
}

ul.topnav li a.active {
    background-color: rgba(8, 8, 8, 0.21);
}


.topnav ul {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    background: #1f2024;


}

.topnav ul li {
    position: relative;

    margin-right: 5px;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: rgba(244, 190, 216, 0.92);
    box-shadow: 0px 8px 16px 0px rgba(244, 190, 216, 0.21);
    padding: 5px 5px;
    z-index: 1;


}

.dropdown > ul li {
    white-space: nowrap;
    padding: 3px 3px;

}

.dropdown:hover > ul {
    display: block;
}

.topnav img {
    height: 50px;
    width: 50px;


}

/* Navigation slut */

p {
    font-size: 1.4em;
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    font-size: 1.4em;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: lightgrey;
    font-family: 'Josefin Sans', sans-serif;
}
